@using Epub.Net.Razor
@using Epub.Net.Models
@inherits HtmlSupportTemplateBase<Chapter>

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en">
<head>
    <title>@Model.Name</title>
</head>
<body>
    <section title="@Model.Name" epub:type="chapter">
        <h2>@Model.Name</h2>
        @Html.Raw(Model.Content)
    </section>
</body>
</html>